src = ["src", "."]
line-length = 99
extend-exclude = [
    "*.ipynb",
]

[lint]
select = [
    # pycodestyle
    "E", "W",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # flake8-builtins
    "A",
    # flake8-return
    "RET",
    # flake8-pytest-style
    "PT",
    # flake8-use-pathlib
    "PTH",
    # flake8-self
    "SLF",
    # flake8-comprehensions
    "C4",
    # Ruff-specific rules
    "RUF",
    # isort
    "I",
]
ignore = [
    # Prefer explicitly setting fixture scope
    "PT003",
]

[lint.per-file-ignores]
# Ignore import violations in all `__init__.py` files
"__init__.py" = ["E402", "F401"]
"tests/*" = [
    # Tests may access private members
    "SLF001",
]

[lint.isort]
known-first-party = ["kotobuki"]
